@import url('https://fonts.googleapis.com/css?family=inter');


.App {
  text-align: center;
  color: black;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}
