.display-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 1100px;
  box-shadow: 0 0 10px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.075);
  border-radius: 10px;
}
.image-and-colors{
  width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #222;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.palette{
  display: flex;
  justify-content: center;
  margin-top: -50px;
  padding-bottom: 50px;
}
.palette-item {
  display: flex;
  padding: 0 15px;
}
.palette-color {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.palette-hex {
  font-size: 12px;
}
.image-data {
  width: 550px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.image-data .product-header {
  padding: 10px 0 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.image-data .product-header > h2 {
  font-size: 30px;
}
.image-data .product-header > h3 {
  font-size: 20px;
  color: rgba(0,0,0,.5);
  text-align: left;
}
.image-data .product-info {
  padding: 0 10px 0 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}
.image-data .product-info > h4 {
  font-size: 22px;
  padding-bottom: 5px;
}
.image-data .product-info .table {
  display: flex;
  width: 100%;
}
.image-data .product-info .table .label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 40%;
}
.image-data .product-info .table .label > p {
  color: rgba(0,0,0,.75);
  padding: 5px 0;
}
.image-data .product-info .table .data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 60%;
}
.image-data .product-info .table .data > p {
  font-weight: 900;
  padding: 5px 0;
}