/* styling sheet for uploading image modal component */

/* modal button */
.modal-button-container{
  flex: 1;
}
.modal-button {
  position: relative;
  background-color: transparent;
  width: 400px;
  padding: 20px 0;
  border-radius: 15px;
  border: none;
  box-shadow: inset #FD9346 0 0 0 1px;
  transition: box-shadow .3s linear;
  cursor: pointer;
}
.modal-button:active{
  background-color: #222; 
  color: #FD9346;
}
.modal-button:hover{
  box-shadow: inset #FF6200 0 0 0 1px;
}
.modal-image-button {
  position: absolute;
  top: 17px;
  right: 15px;
  font-size: 20px;
}

/* modal popup */
.modal-container {
  width: '100%';
  height: '100%';
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.modal-header {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  width: 100%;
  background-color: #222;
}
.modal-header > h3 {
  background: -webkit-linear-gradient(190deg,#FF6200, #FDB777);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.modal-exit-button {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 28px;
  color: #FF6200;
  cursor: pointer;
}
.modal-navigation {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0,0,0,.075);
  border-top: 1px solid rgba(0,0,0,.075);
  width: 100%;
}
.modal-navigation-links {
  padding: 20px 10px;
  background-color: transparent;
  font-size: 18px;
  border: none;
  box-sizing: border-box;
  color: #636363;
  box-shadow: none;
  cursor: pointer;
}
.modal-navigation-links:hover {
  color: black;
}
.active-link {
  color: #FF6200;
  box-shadow: #FF6200 0 1px 0 0, inset #FF6200 0 -1px 0 0;
}
.active-link:hover {
  color: #FF6200;
}

/* Image Upload component */
.image-upload-form {
  margin: 20px 0;
  height: 250px;
  width: 450px;
  border: 3px dashed rgba(0,0,0,.075);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  color: #636363;
}
.image-upload-form:hover {
  border: 3px dashed rgba(0,0,0,.15);
}

.image-upload-form > p {
  padding: 10px;
  font-size: 18px;
}