.display-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 860px;
  box-shadow: 0 0 10px rgba(0,0,0,.175);
  border: 1px solid rgba(0,0,0,.075);
  border-radius: 10px;
}
.image-and-colors{
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #222;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
}
.palette{
  display: flex;
  justify-content: center;
  margin-top: -50px;
  padding-bottom: 50px;
}
.palette-item {
  display: flex;
  padding: 0 15px;
}
.palette-color {
  height: 90px;
  width: 90px;
  border-radius: 50%;
  border: 1px solid rgba(255,255,255,.5);
  display: flex;
  align-items: center;
  justify-content: center;
}
.palette-hex {
  font-size: 12px;
}
.image-data {
  width: 430px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: #fff;
}