.display-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  width: 900px;
}
.display-container .image-data > img {
  width: 500px;
  height: 500px;
  margin-left: 25px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.color-display-container{
  flex-wrap: wrap;
  width: 400px;
  display: flex;
  margin-right: 25px;
}
.image-data {
  width: 500px;
}