.image-upload-form {
  width: 500px;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  border: 2px solid #222;
  cursor: pointer;
}
.image-upload-input {
  display: none;
}

.image-upload-container {
}
.uploaded-image {
  border: 1px solid black;
  height: 200px;
  width: 200px;
}
