.sneaker-selection-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sneaker-selection-input-container{
  width: 520px;
  position: relative;
  background-clip: padding-box; /* !importanté */
  border: solid 3px transparent; /* !importanté */
  border-radius: 10px;
  box-sizing: border-box;
}
.sneaker-selection-input{
  font-size: 16px;
  width: 100%;
  padding: 20px 0px 20px 50px;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #353535;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  position: relative;
  border:none;
}
.sneaker-selection-input-container::after{
  content: '';
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  z-index: -1;
  margin: -3px; /* !importanté */
  border-radius: inherit; /* !importanté */
  background: linear-gradient(to left, #FDB777, #FDB777, #FDB777, #FD7F2C, #FF6200);
}
.sneaker-selection-input-container:hover:after{
  background: linear-gradient(to right,  #FF6200, #FD7F2C, #FDB777, #FDB777, #FDB777);
  animation: flip .5s ease-in-out;
}
@keyframes flip {
  0%{
    background: linear-gradient(to left, #FDB777, #FDA766, #FD9346, #FD7F2C, #FF6200);
  }
  25%{
    background: linear-gradient(to left, #FDB777, #FDA766, #FD9346, #FF6200, #FD7F2C);
  }
  50%{
    background: linear-gradient(to left,  #FDB777, #FDA766, #FF6200, #FD7F2C, #FD9346);
  }
  75%{
    background: linear-gradient(to left,  #FDB777, #FF6200, #FD7F2C, #FD9346, #FDA766)
  }
  100%{
    background: linear-gradient(to left,  #FF6200, #FD7F2C, #FDB777, #FDB777, #FDB777);
  }
}

.sneaker-selection-input:focus{
  border: none;
  outline: none;
}
.sneaker-selection-input::placeholder {
  color:#a5a5a5;
}
.input-search-icon{
  z-index: 100;
  color: #646464;
  position: absolute;
  left: 10px;
  top: 16px;
  font-size: 26px;
}
.input-delete-icon{
  z-index: 100;
  color: #646464;
  position: absolute;
  right: 10px;
  top: 19px;
  font-size: 22px;
}

.selected-input{
  font-size: 16px;
  padding: 20px 50px 20px 50px;
  height: 62px;
  box-sizing: border-box;
  color: #353535;
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
}
.selected-input > p{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 230px;
}
.input-image {
  position: absolute;
  z-index: 100;
  left: 40px;
  top: 0px;
  height: 58px;
  width: 58px;
  margin-right: 10px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}
.options-container{
  width: 520px;
  max-height: 721px;
  color: #000;
  overflow-x: auto;
  z-index: 100;
  position: absolute;
  background-color: #fff;
  margin-top: 65px;
}
::-webkit-scrollbar {
  width: 12px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 100px #222; 
  border-radius: 0px;
  cursor: pointer;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FD9346; 
  cursor: pointer;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fff; 
}
.options-item {
  border-bottom: 3px solid #FD9346;
  /* border-right: 3px solid #FD9346; */
  border-left: 3px solid #FD9346;
  position: relative;
  
}
.options-item > div > h3 {
  font-size: 11px;
}
.options-item > div > h2 {
  font-size: 13px;
}
.options-item > div > h1 {
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 250px;
  text-align: left;
}
.options-item .thumbnail-image {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}