.sneaker-selection-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}
.sneaker-selection-input-container{
  width: 75%;
  max-width: 1000px;
  position: relative;
}
.sneaker-selection-input{
  font-size: 24px;
  width: 100%;
  padding: 10px 0px 10px 50px;
  color: #000;
  background-color: transparent;
  border: 3px solid rgb(226, 226, 226);
  box-sizing: border-box;
  display: flex;
  align-items: center;
  position: relative;
}
.sneaker-selection-input:focus{
  outline-style: none;
}
.sneaker-selection-input-img{
  height: 75px;
  width: 75px;
  margin: 0 20px;
}
.arrow-container {
  position: absolute;
  right: 10px;
}
.options-container{
  width: 75%;
  max-width: 1000px;
  background-color: #fff;
  color: #000;
}
.options-item {
  border-bottom: 3px solid rgb(226, 226, 226);
  border-right: 3px solid rgb(226, 226, 226);
  border-left: 3px solid rgb(226, 226, 226);
  position: relative;
}
.options-item > div > h3 {
  font-size: 11px;
}
.options-item > div > h2 {
  font-size: 13px;
}
.options-item > div > h1 {
  font-size: 15px;
}